* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", sans-serif;
    user-select: none;
}

body {
    overflow: hidden;
}

nav {
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid #252525;
}

.main__content {
    position: relative;
    width: 100vw;
    height: 90vh;
}

.section__ball {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(90vh / 2 - 15px);
    height: calc(90vh / 2 - 15px);
    border-radius: 50%;
    border: 1px solid #252525;
    text-align: center;
    text-transform: uppercase;
    margin: 6px 10px;
    transition: all 0.5s ease-out; 
}

#about {
    top: 0;
    left: 0;
}

#data {
    top: 0;
    right: 0;
}

#poster {
    bottom: 0;
    right: 0;
}

#photo {
    bottom: 0;
    left: 0;
}

.hideToLeft {
    opacity: 0;
    animation: hideToLeft 0.3s linear;
}

.hideToRight {
    opacity: 0;
    animation: hideToRight 0.3s linear;
}

.centered__content {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotating__section {
    text-transform: uppercase;
    font-weight: 500;
    animation: rotateText 20s linear infinite;
    letter-spacing: 2px;
}

@media only screen and (max-width: 1080px) {
    .section__ball {
        width: calc(90vh / 3 - 15px);
        height: calc(90vh / 3 - 15px);
    }
}

@media only screen and (max-width: 600px) {
    .section__ball {
        width: calc(90vh / 4 - 15px);
        height: calc(90vh / 4 - 15px);
    }

    .rotating__section {
        font-size: 14px;
    }
}

@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes hideToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes hideToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes fadeFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fadeFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}